<md-dialog aria-label="Select a time frame">
  <md-content>
      <md-subheader md-theme="indigo" class="md-sticky-no-effect">Select a time frame</md-subheader>   
        <md-list>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide('morning')">
              Morning 
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide('noon')">
              Afternoon
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide('evening')">
              Evening
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide('night')">
              Night
            </md-item-content>
          </md-item>
        </md-list>
    </md-content>
</md-dialog>