<md-dialog aria-label="Select a location">
  <md-content>
      <md-subheader md-theme="indigo" class="md-sticky-no-effect">Select a location</md-subheader>   
        <md-list>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide(1)">
              Location A 
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide(2)">
              Location B
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide(3)">
              Location C
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide(4)">
              Location D
            </md-item-content>
          </md-item>
        </md-list>
    </md-content>
</md-dialog>