<md-dialog aria-label="Choose a unit">
    <md-content>
     <md-subheader md-theme="indigo" class="md-sticky-no-effect">Select a location</md-subheader> 
      <md-list>
          <md-item>
            <md-item-content class="md-whiteframe-z1" ng-click="hide('Celcius')">
              Celcius
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide('Kelvin')">
              Kelvin
            </md-item-content>
          </md-item>
          <md-item>
            <md-item-content class="md-whiteframe-z1"  ng-click="hide('Farenheit')">
             Farenheit
            </md-item-content>
          </md-item>
        </md-list>
</md-dialog>